@charset "UTF-8";
@import "fontawesome-all.css";
@import "sweetalert2.css";
@import url("https://fonts.googleapis.com/css?family=Cairo:400,600,700");
button {
  outline: none;
}
button:focus {
  outline: none;
}

.darkFontColor {
  color: #565656;
}

.form-control {
  font-weight: 600;
}

.overf-hidden {
  overflow: hidden !important;
}

.h-40px {
  height: 40px;
  line-height: 39px;
}

.wight-bg {
  background-color: #fff;
}

@media (min-width: 768px) {
  .w-lg-25 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .w-lg-25 {
    width: 25%;
  }
}

.sub-page-bg {
  height: 300px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-15 {
  font-size: 15px;
}

.swal2-popup .swal2-styled {
  line-height: 22px;
  border-radius: 40px !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: #20ab8f;
}

body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  background-color: #edf2f6;
  font-weight: 600;
}

input, button, .form-control {
  border-radius: 50px;
  height: calc(2.25rem + 5px);
  line-height: calc(2.25rem + 5px);
}

.form-control::-webkit-input-placeholder {
  color: #afafaf;
}

.form-control::-moz-placeholder {
  color: #afafaf;
}

.form-control:-ms-input-placeholder {
  color: #afafaf;
}

.form-control::-ms-input-placeholder {
  color: #afafaf;
}

.form-control::placeholder {
  color: #afafaf;
}

.green-btn:hover {
  color: #fff;
  text-decoration: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #20ab8f;
}

.form-control::-webkit-input-placeholder {
  color: #afafaf;
}

.form-control:-moz-placeholder {
  color: #afafaf;
}

.my-select {
  position: relative;
}
.my-select select {
  -webkit-appearance: none;
  line-height: 28px;
}
.my-select select:invalid {
  color: #afafaf;
}
.my-select:after {
  content: "▼";
  position: absolute;
  bottom: 0;
  left: 8px;
  font-size: 10px;
  padding: 12px 7px;
  color: #969696;
  pointer-events: none;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #20ab8f;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(32, 171, 143, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(32, 171, 143, 0.25);
}

.btn:focus, .btn.focus, select:focus, select.focus, .custom-select:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(32, 171, 143, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(32, 171, 143, 0.25);
  border-color: #20ab8f;
}

.custom-select, select {
  border-radius: 10px;
  font-weight: 600;
}
.custom-select option, select option {
  font-weight: 600;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.mainColor {
  color: #20ab8f;
}

.big-font-size {
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -1px;
}

.page-container-pad {
  padding-top: 56px;
}

a.mainColor:hover {
  color: #16947b;
  text-decoration: none;
}

.py-10 {
  padding: 100px 0;
}

header .navbar {
  background-color: #20ab8f;
}
@media (max-width: 1199.98px) {
  header .navbar .navbar-nav {
    text-align: center;
  }
}
header .navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
header .navbar .navbar-nav .nav-link:hover {
  color: #e0e0e0;
}
header .navbar .navbar-nav .nav-link.active {
  color: #e0e0e0;
}
header .navbar .navbar-nav a.log-link {
  position: relative;
}
header .navbar .navbar-nav a.log-link:before {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  background-color: #e0e0e0;
  bottom: 7px;
  left: 8px;
  right: 8px;
}
@media (max-width: 1199.98px) {
  header .navbar .navbar-nav a.log-link:before {
    width: 200px;
    margin: 0 auto;
  }
}
header .navbar .navbar-brand {
  line-height: 0;
}
header .navbar .navbar-toggler {
  border-color: #fff;
}
header .navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
header .navbar.fixed-header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 99999;
}
@media (min-width: 992px) {
  header .search-header {
    margin-right: 10px;
    margin-left: 10px;
  }
}
header .search-header input {
  border: 0;
  height: 33px;
  padding-right: 20px;
  font-weight: 600;
}
header .search-header .header-search-btn {
  position: absolute;
  left: 10px;
  top: 0;
  line-height: 36px;
  height: 33px;
  text-align: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}
header .search-header .header-search-btn:focus {
  outline: none;
}
header .search-header .header-search-btn i {
  font-size: 20px;
  color: #c5c5c5;
}
header .search-header .header-search-btn:hover i {
  color: #20ab8f;
}
header .header-drop img {
  height: 33px;
  width: 33px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-left: 5px;
}
header .header-drop button {
  background-color: transparent;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
}
header .header-drop .dropdown-toggle::after {
  vertical-align: 1px;
}
header .header-drop a.dropdown-item {
  font-size: 14px;
}
@media (max-width: 1199.98px) {
  header .header-drop .dropdown-menu {
    left: 0;
    text-align: center;
  }
}
header .header-drop .dropdown-menu a:hover {
  background-color: #20ab8f;
  color: #fff;
}

.home-container {
  background: url(../images/home-bg.png) no-repeat white center center;
  background-size: cover;
  position: relative;
  min-height: calc(100vh - 54px - 72px);
}
.home-container .home-overly {
  position: absolute;
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}
.home-container .search-box {
  margin-top: 100px;
  padding-bottom: 80px;
}
.home-container .search-box .input-group {
  position: relative;
}
.home-container .search-box .input-group i {
  position: absolute;
  color: #b1b1b1;
  right: 14px;
  top: 15px;
  font-size: 17px;
  z-index: 5;
}
.home-container .search-box .input-group input {
  height: 45px;
  padding-right: 40px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.home-container .search-box .search-btn {
  background-color: #20ab8f;
  color: #fff;
  outline: none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  height: 45px;
}
.home-container .search-box .search-btn:focus, .home-container .search-box .search-btn:visited {
  outline: none;
}
.home-container .search-box .search-btn:hover {
  background-color: #16947b;
}

.home-card-container {
  padding-bottom: 80px;
}

.card-container {
  background-color: #fff;
  border-radius: 10px;
}
.card-container h5 {
  border-bottom: 1px solid #e0e0e0;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-bottom: 10px;
  font-weight: 700;
  color: #565656;
  font-size: 18px;
  margin-bottom: 20px;
}
.card-container .media:not(:last-child) {
  margin-bottom: 20px;
}
.card-container .media img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}
.card-container .media h6 {
  font-size: 14px;
  font-weight: 700;
  color: #565656;
  line-height: 26px;
}
.card-container .media p.rating-cunt {
  font-size: 13px;
  color: #565656;
  font-weight: 600;
  line-height: 24px;
}
.card-container .media .rating-number p {
  color: #20ab8f;
  font-weight: 600;
  line-height: 18px;
  font-size: 18px;
}

.register-container {
  background: #fcfcfc url(../images/register-bg.png) bottom right no-repeat;
  background-size: 25vw;
  min-height: calc(100vh - 49px);
}

.register-c {
  padding: 30px;
  -webkit-box-shadow: 0px 0px 58px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 58px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  margin: 30px 0;
}
.register-c .form-control {
  padding-right: 20px;
  padding-left: 20px;
}
.register-c .custom-control-label a:hover {
  color: #16947b;
}
@media (max-width: 1199.98px) {
  .social-btn a {
    margin-bottom: 15px;
  }
}

.form-group {
  position: relative;
  margin-bottom: 1.4rem;
}

ul.parsley-errors-list {
  position: absolute;
  bottom: -18px;
  right: 0;
  margin: 0;
  font-size: 13px;
  width: 100%;
  list-style: none;
  padding: 0px;
  padding-right: 14px;
  color: #F5544A;
  font-family: "Cairo", sans-serif;
}

.parsley-error, .parsley-error:focus {
  color: #F5544A !important;
  border-color: #f5544a !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 84, 74, 0.25) !important;
          box-shadow: 0 0 0 0.2rem rgba(245, 84, 74, 0.25) !important;
}

.right-left-line {
  position: relative;
}
.right-left-line:before {
  content: "";
  position: absolute;
  display: block;
  width: 25%;
  height: 1px;
  right: 5%;
  top: 14px;
  background-color: #1d2124;
}
@media (max-width: 1199.98px) {
  .right-left-line:before {
    width: 15%;
  }
}
.right-left-line:after {
  content: "";
  position: absolute;
  display: block;
  width: 25%;
  height: 1px;
  left: 5%;
  top: 14px;
  background-color: #1d2124;
}
@media (max-width: 1199.98px) {
  .right-left-line:after {
    width: 15%;
  }
}

@media (min-width: 992px) {
  .dont-collapse-sm {
    display: block !important;
    height: auto !important;
    visibility: visible;
  }
}
.dont-collapse-sm .card {
  background: transparent;
  padding: 0;
  border: 0;
}

.section-card h5 {
  margin: 0 -20px 10px -20px;
  border-bottom: 1px solid #edf2f6;
  padding-bottom: 15px;
}
.section-card ul li:not(:first-child) {
  margin-top: 10px;
}
.section-card ul li a {
  color: #565656;
  font-weight: 600;
}
.section-card ul li a:hover {
  color: #20ab8f;
  text-decoration: none;
}
.section-card ul li.active a {
  color: #20ab8f;
}

.sec-btn {
  background-color: #20ab8f;
  color: #fff;
}

.ad-image-link {
  margin-top: 1.5rem;
}
.ad-image-link img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.sections-card {
  margin-top: 1.5rem;
  text-align: center;
}
.sections-card h5 {
  color: #565656;
}
.sections-card a {
  height: 40px;
  line-height: 37px;
}
.sections-card a:hover {
  color: #fff;
  text-decoration: none;
}
.sections-card p.mainColor {
  font-size: 23px;
}
.sections-card img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #e0e0e0;
}

.profile-complete-card h6 {
  line-height: 1.5;
}
.profile-complete-card a.my-btn {
  height: 40px;
  line-height: 38px;
  font-size: 16px;
}
.profile-complete-card a.my-btn:hover {
  color: #fff;
  text-decoration: none;
}

.insignia-card::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  background-color: #e0e0e0;
  left: calc(50% - 1px);
  top: 0;
}

.point-cunt-card a.my-btn {
  height: 40px;
  line-height: 38px;
  font-size: 16px;
}
.point-cunt-card a.my-btn:hover {
  color: #fff;
  text-decoration: none;
}

.gry-card {
  background-color: #edf2f6 !important;
}
.gry-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  -o-object-fit: cover;
     object-fit: cover;
}
.gry-card p {
  font-size: 12px;
}

.time-line-card {
  margin-bottom: 1.5rem;
}
.time-line-card .dropdown-item {
  font-weight: 600;
  color: #565656;
}

.time-line-user-rating img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  -o-object-fit: cover;
     object-fit: cover;
}
.time-line-user-rating h5 {
  font-size: 17px;
  font-weight: 600;
}
.time-line-user-rating h5 a {
  color: #20ab8f;
}
.time-line-user-rating h5 a:hover {
  color: #16947b;
  text-decoration: none;
}
.time-line-user-rating p {
  font-size: 23px;
}

.rating-time {
  color: #565656;
  font-weight: 600;
  margin-top: 4px;
  text-align: left;
}

.dropdownOption button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  height: 33px;
}
.dropdownOption button i {
  color: #6c757d;
  font-size: 20px;
}
.dropdownOption .dropdown-toggle::after {
  display: none;
}
.dropdownOption .dropdown-toggle::before {
  display: none;
}
.dropdownOption .dropdown-menu {
  border-radius: 10px;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}
.dropdownOption .dropdown-menu a {
  padding-right: 8px;
}
.dropdownOption .dropdown-menu a:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.like-container {
  padding: 10px 15px;
  margin-left: -15px;
  margin-right: -15px;
  border-top: 1px solid #e0e0e0;
}
.like-container .like {
  margin-left: 30px;
}
.like-container .like.active a i {
  color: #20ab8f;
}
.like-container .dislike i {
  position: relative;
  top: 1px;
}
.like-container .dislike.active a i {
  color: #f93d3c;
}
.like-container a {
  color: #565656;
  text-decoration: none;
}
.like-container a span {
  color: #20ab8f;
}
.like-container a i {
  margin-left: 2px;
  margin-right: 2px;
}

.sub-comment-container {
  border-top: 1px solid #e0e0e0;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}
.sub-comment-container .media-body .like-container {
  border: 0;
}
.sub-comment-container .media-body .media-body-content {
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #edf2f6;
  border-radius: 20px;
  border: 1px solid #d7d7d7;
}
.sub-comment-container .media-body .media-body-content p {
  margin-bottom: 0;
}
.sub-comment-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}

.top-3-card img {
  width: 60px;
  height: 60px;
}
.top-3-card .time-line-user-rating:not(:last-child) {
  margin-bottom: 5px;
}
.top-3-card h5 {
  font-size: 20px;
}
.top-3-card h5 a {
  color: #565656;
  font-size: 16px;
}

.progress-pie-chart {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #20ab8f;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 29.8656047785px);
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  clip: rect(0, 60px, 60px, 30px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 29.8656047785px);
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  clip: rect(0, 30px, 60px, 0);
  background: #20ab8f;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 30px, 60px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 60px, 60px, 30px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 52.1739130435px/2.009);
  top: calc(50% - 52.1739130435px/2);
  width: 52.1739130435px;
  height: 52.1739130435px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 1.5em;
  font-weight: normal;
  color: #8b8a8a;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.menu-banner img.comp-logo {
  width: 170px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.menu-banner h6.font-600 {
  font-weight: 700 !important;
  color: #565656 !important;
}
.menu-banner .list-inline-item:not(:last-child) {
  margin-left: 20px;
}
.menu-banner .menu-banner-list a {
  color: #9d9d9d;
  text-decoration: none;
  font-weight: 700;
}
.menu-banner .menu-banner-list a:hover {
  color: #20ab8f;
}
.menu-banner .menu-banner-list a.active {
  color: #20ab8f;
}

.comp-ads-card textarea.form-control {
  border-radius: 10px;
  background-color: #edf2f6;
  resize: none;
}
.comp-ads-card h5 {
  font-size: 18px;
  display: inline-block;
}
.comp-ads-card h5 i {
  position: absolute;
  border-radius: 50%;
  background-color: #78ce5f;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  left: -25px;
  top: 2px;
}

.comp-total-reviews p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
  position: relative;
  top: -2px;
}

.comp-share-list {
  text-align: center;
}
.comp-share-list li {
  padding-left: 11px;
}
.comp-share-list i.fa-twitter {
  color: #42add0;
}
.comp-share-list i.fa-facebook-f {
  color: #34648c;
}
.comp-share-list .copy-btn {
  color: #6e6e6e;
  font-size: 15px;
  cursor: pointer;
}
.comp-share-list .copy-btn:hover {
  text-decoration: none;
  color: #20ab8f !important;
}

.comp-reviews {
  margin-bottom: 5px;
}
.comp-reviews p {
  position: relative;
  top: -3px;
  margin-bottom: 0;
}

.comp-ads-share {
  margin-top: 1.5rem;
}
.comp-ads-share .comp-ads-share-container {
  background-color: #20ab8f !important;
  text-align: center;
}
.comp-ads-share .comp-ads-share-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.comp-ads-share .comp-ads-share-container p {
  color: #fff;
  font-size: 20px;
}

.modal-btn {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-btn:focus {
  outline: 0;
}

.rating-details-modal {
  text-align: center;
}
.rating-details-modal img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #e0e0e0;
  margin-top: -20px;
}
.rating-details-modal .modal-body {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 30px !important;
}
.rating-details-modal .modal-body h4 {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  color: #565656;
  margin-bottom: 5px;
}
.rating-details-modal .modal-body p {
  color: #565656;
  margin-top: 0;
}
.rating-details-modal .modal-body p.mainColor {
  color: #20ab8f;
}
.rating-details-modal .modal-body h3 {
  font-weight: 700;
  color: #565656;
  font-size: 19px;
}
.rating-details-modal .modal-body .product-reviews-summary .rating-summary .rating-result {
  width: 80px;
}
.rating-details-modal .modal-body .product-reviews-summary .rating-summary .rating-result::before {
  font-size: 13px;
  height: 13px;
  line-height: 18px;
}
.rating-details-modal .modal-body .product-reviews-summary .rating-summary .rating-result span:before {
  font-size: 13px;
  height: 16px;
  line-height: 19px;
}
.rating-details-modal .modal-header {
  border-bottom: 0;
}
.rating-details-modal .modal-header button.close {
  outline: none;
  line-height: 5px;
}
.rating-details-modal .modal-header button.close:focus {
  outline: 0;
  line-height: 5px !important;
}

.rat-details-container .rat-rectangle-container {
  background-color: #5bf0d2;
  border-radius: 5px;
  padding: 5px;
  padding-right: 10px;
  line-height: 25px;
  font-size: 15px;
}
.rat-details-container .rat-details-number {
  width: 40px;
  text-align: right;
  font-size: 14px;
  line-height: 35px;
  padding-right: 5px;
}

#copy-container {
  position: absolute;
  top: 0;
  right: -9999px;
  z-index: -10;
  opacity: 0;
}

.side-Membership-card h3 {
  font-size: 20px;
  font-weight: 700;
}
.side-Membership-card .my-btn {
  height: 40px;
  line-height: 39px;
}
.side-Membership-card .my-btn:hover {
  text-decoration: none;
  color: #fff;
}

.membership-list ul li {
  color: #9f9f9f;
  font-size: 15px;
}
.membership-list ul li:not(:last-child) {
  margin-bottom: 10px;
}
.membership-list ul li i {
  color: #dfdfdf;
}
.membership-list ul li.active {
  color: #3f3f3f;
}
.membership-list ul li.active i {
  color: #bfbfbf;
}

.info-side-card {
  direction: ltr;
}
.info-side-card ul {
  padding: 0;
  margin: 0;
}
.info-side-card ul li:not(:last-child) {
  margin-bottom: 5px;
}
.info-side-card ul li a {
  padding-left: 5px;
  color: #3c3c3c;
}
.info-side-card ul li a:hover {
  color: #20ab8f;
}
.info-side-card ul li i {
  color: #90949c;
}
.info-side-card ul li:first-child i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.social-side-card li {
  text-align: center;
}
.social-side-card li a {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 29px;
  font-size: 16px;
  font-weight: 100;
  display: inline-block;
  border: 1px solid;
  color: #fff;
}
.social-side-card li a:hover {
  background-color: transparent !important;
}
.social-side-card li a.instagram {
  background-color: #444444;
  border-color: #444444;
}
.social-side-card li a.instagram:hover {
  color: #444444;
}
.social-side-card li a.youtube {
  background-color: #ca3737;
  border-color: #ca3737;
}
.social-side-card li a.youtube:hover {
  color: #ca3737;
}
.social-side-card li a.twitter {
  background-color: #1cb7eb;
  border-color: #1cb7eb;
}
.social-side-card li a.twitter:hover {
  color: #1cb7eb;
}
.social-side-card li a.facebook {
  background-color: #4e71a8;
  border-color: #4e71a8;
}
.social-side-card li a.facebook:hover {
  color: #4e71a8;
}

.write-comment-media {
  margin-top: 1.5rem;
}
.write-comment-media img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
}
.write-comment-media .media-body input {
  background-color: #F5F5F5;
  border-radius: 100px;
  padding-left: 30px;
  height: 50px;
}

.comp-post-card {
  margin-bottom: 1.5rem;
}
.comp-post-card .comp-post-card-container {
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 15px;
}
.comp-post-card .comp-post-card-container textarea {
  border: 0;
  width: 100%;
  height: 75px;
  outline: 0;
  font-weight: 600;
  border-radius: 12px;
  padding: 15px;
  font-size: 15px;
  resize: none;
  color: #7d7d7d;
}
.comp-post-card .comp-post-card-container textarea:focus {
  outline: 0;
}

.upload-submit {
  padding: 15px;
  padding-bottom: 0;
}
.upload-submit label {
  cursor: pointer;
}
.upload-submit button {
  font-weight: 600;
  font-size: 17px;
  min-width: 120px;
  height: 35px;
  line-height: 34px;
}

.edit-profile-photo {
  position: absolute;
  bottom: -20px;
  left: 50%;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #e0e0e0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.edit-profile-photo img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}
.edit-profile-photo .change-photo-btn {
  font-weight: 600;
  padding: 5px 6px;
  color: #333;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  font-size: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: auto;
}
.edit-profile-photo .photoUpload {
  position: relative;
  overflow: hidden;
  padding: 3px 12px;
  height: 100%;
}
.edit-profile-photo .photoUpload input.upload {
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
}

.edit-profile-form-container .my-btn {
  font-size: 17px;
  font-weight: 600;
  padding: 5px 50px;
  line-height: 1;
}
.edit-profile-form-container .left-btn {
  background-color: transparent;
  border: 0;
  display: block;
  color: #20ab8f;
  position: absolute;
  z-index: 3;
  left: 10px;
  height: auto;
  top: 44px;
  line-height: 1;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.edit-profile-form-container .left-btn:focus {
  outline: none;
}
.edit-profile-form-container .form-group span.red-color {
  color: #e33737;
  font-size: 17px;
}
.edit-profile-form-container .form-group input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute !important;
  left: 50px !important;
}

.red-color {
  color: #e33737;
  font-size: 17px;
}

input[type=date] {
  padding-right: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute !important;
  left: 15px !important;
}

input[type=time]::-webkit-clear-button,
input[type=time]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button {
  position: absolute !important;
  left: 15px !important;
}

.quota-modal .modal-content {
  padding: 15px 15px;
}
.quota-modal label {
  padding-right: 0;
}
.quota-modal ul.parsley-errors-list {
  left: 0;
  width: auto;
  right: auto;
}

.suggestion-card > p {
  font-size: 15px;
}
.suggestion-card .suggestion-form textarea {
  border-radius: 12px;
  resize: none;
  line-height: 25px;
}
.suggestion-card .suggestion-form .c-file input {
  display: none;
}
.suggestion-card .suggestion-form .c-file label {
  background-color: #e0e0e0;
  color: #656565;
  border-radius: 50px;
  padding: 7px 20px;
  cursor: pointer;
}

.q2-card .side-Membership-card {
  background-color: #edf2f6;
}

.contact-us-container .contact-block {
  text-align: center;
}
.contact-us-container .contact-block i {
  color: #20ab8f;
  font-size: 60px;
}
.contact-us-container .form-control {
  border-radius: 12px;
  background-color: #edf2f6;
}
.contact-us-container textarea {
  resize: none;
}
.contact-us-container .green-btn {
  min-width: 200px;
  line-height: 40px;
}

.p-container a, .p-container button {
  height: 41px;
  line-height: 40px;
  font-size: 16px;
}

.product-reviews-summary .rating-summary {
  position: relative;
}
.product-reviews-summary .rating-summary .rating-result {
  width: 98px;
  position: relative;
  margin: 0 auto 10px auto;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}
.product-reviews-summary .rating-summary .rating-result::before {
  font-weight: 300;
  content: "" "" "" "" "";
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
  z-index: 1;
  color: #c7c7c7;
  font-size: 16px;
  height: 16px;
  letter-spacing: 1px;
  line-height: 18px;
  display: block;
  font-style: normal;
  speak: none;
}
.product-reviews-summary .rating-summary .rating-result span {
  display: block;
  overflow: hidden;
  font-family: "Font Awesome 5 pro";
}
.product-reviews-summary .rating-summary .rating-result span:before {
  position: relative;
  z-index: 2;
  text-align: right;
  color: #ffbb00;
  font-size: 16px;
  height: 18px;
  letter-spacing: 1px;
  line-height: 19px;
  content: "" "" "" "" "";
  display: block;
  font-style: normal;
  font-weight: 900;
  speak: none;
}

.stars {
  margin-bottom: 0;
}

.rating-stars ul > li.star {
  display: inline-block;
  font-size: 7px;
}

.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.rating-stars ul > li.star {
  display: inline-block;
}

.rating-stars ul > li.star > i.fa {
  font-size: 2.5em;
  color: #ccc;
}

.rating-stars ul > li.star.hover > i.fa {
  color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color: #FF912C;
}

.footer {
  padding: 20px 0;
  border-top: 2px solid #d7d7d7;
  background-color: #fcfcfc;
}
.footer .social-footer li {
  padding: 0 10px;
}
.footer .social-footer li:last-child {
  padding-left: 0;
}
.footer .social-footer li a {
  color: #a2a2a2;
  font-size: 20px;
}
.footer .social-footer li a.insta:hover {
  color: #e4405f;
}
.footer .social-footer li a.twit:hover {
  color: #55acee;
}
.footer .social-footer li a.face:hover {
  color: #3b5999;
}

header .navbar {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.my-btn, .register-c button {
  position: relative;
  border: 0;
  border-radius: 50px;
  outline: none;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.my-btn:focus, .register-c button:focus, .my-btn:visited, .register-c button:visited {
  outline: none;
}

.green-btn, .register-c button {
  background-color: #20ab8f;
  color: #fff;
}
.green-btn:hover, .register-c button:hover {
  background-color: #16947b;
}

.btn-icon {
  position: relative;
}
.btn-icon i {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.face-btn {
  background-color: #295fb0;
  color: #fff;
}
.face-btn:hover {
  background-color: #274d99;
  text-decoration: none;
  color: #fff;
}

.google-btn {
  background-color: #e45050;
  color: #fff;
}
.google-btn:hover {
  background-color: #d04c4c;
  text-decoration: none;
  color: #fff;
}

.twitter-btn {
  background-color: #4bb3f4;
  color: #fff;
}
.twitter-btn:hover {
  background-color: #48a0dc;
  text-decoration: none;
  color: #fff;
}

a, header .search-header .header-search-btn i, .my-btn, .register-c button {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.my-card, .section-card, .filter-card, .sections-card, .profile-complete-card, .insignia-card, .point-cunt-card, .gry-card, .time-line-card, .top-3-card, .comp-ads-card, .comp-ads-share, .comp-ads-share .comp-ads-share-container, .side-Membership-card, .info-side-card, .social-side-card, .comp-post-card, .suggestion-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.small-btn {
  font-weight: 600;
  height: 40px;
  padding: 0 40px;
  line-height: 38px;
}

.custom-control-label {
  cursor: pointer;
}